.nav {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
  }

   .nav__logo{
    position: relative;
    left: -50px;
  }
   .nav__links {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

   .nav__link {
    color: #000;
    text-decoration: none;
    transition: opacity 0.5s;
    cursor: pointer;
    column-gap: 20px;
  }

   .nav__link:hover {
    opacity: 0.5;
  }